.navbar-brand img {
  height: 60px;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.container-fluid {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

.navbar-expand-lg .offcanvas {
  flex-grow: 0;
}

div#basic-navbar-nav {
  background-color: #1e1e1e;
}
