.summary-section-wrapper {
  display: flex;
  margin: 1rem 0;
  padding: 0 3rem 0 3rem;
}

.summary-section {
  display: flex;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 0.3rem;
  width: auto;
}

.summary-section p {
  margin: 5px;
}

.show-tablet,
.show-desktop {
  display: none;
}

@media (min-width: 768px) {
  .summary-divider.show-tablet {
    display: flex;
  }
}

@media (min-width: 992px) {
  .summary-divider.show-desktop {
    display: flex;
  }
}
