.library-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* background-color: rgba(251,113,133, 0.1); */
  padding: 1rem 3rem;
}

.library-grid {
  justify-self: center;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  /* justify-content: center; */
}

.library-card:hover {
  background-color: grey;
  transition: ease-in-out 0.1s;
}

.library-card {
  width: 150px;
  height: 120px;
  background: rgba(251, 113, 133, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.5s ease;
  margin: 20px 0;
}

.library-card__title {
  color: white;
  font-size: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.library-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 255, 255, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.7s ease;
  opacity: 0;
}

.library-card:hover {
  transform: scale(1.015);
  background: rgba(251, 113, 133, 0.8);
}

.library-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.library-card__note {
  font-size: 1rem;
  text-align: center;
  padding-top: 1px;
  color: grey;
}

@media (min-width: 768px) {
  .library-grid {
    gap: 0 2rem;
  }
}
