/* Table styles */

.table-section {
  padding: 0 3rem 0 3rem;
}
.track-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.05);
}

.track-table th:first-child {
  border-top-left-radius: 4px;
}

.track-table th:last-child {
  border-top-right-radius: 4px;
}

.track-table td:first-child {
  border-bottom-left-radius: 4px;
}

.track-table td:last-child {
  border-bottom-right-radius: 4px;
}

.track-table th,
.track-table td {
  padding: 0.75rem;
  text-align: left;
}

.track-table th {
  color: #fff;

  font-weight: 400;
  background-color: #999;
}
.track-table tr {
  background-color: #ffffff;
  color: black;
}

tr.warning {
  color: #ff0f0f;
}

tr.song-rows {
  border-bottom: solid #999 1px;
}

tr.song-rows:last-child {
  border-bottom: none;
}

.show-tablet,
.show-desktop {
  display: none;
}

@media (min-width: 768px) {
  .show-tablet {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .show-desktop {
    display: table-cell;
  }
}
