/* Table styles */

.table-section {
  padding: 0 3rem 0 3rem;
}
.track-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.05);
  background-color: #999;
  border-radius: 4px;
  font-style: normal;
}

.track-table th,
.track-table td {
  padding: 0.75rem;
  text-align: left;
  color: #ddd;
}

.track-table th {
  color: #fff;
  font-weight: 400;
}

.show-tablet,
.show-desktop {
  display: none;
}

@media (min-width: 768px) {
  .show-tablet {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .show-desktop {
    display: table-cell;
  }
}
