/* Hide default file input */
.file-input {
  display: none;
}

/* Style the label to look like a button */
.custom-file-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #999;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.custom-file-label:hover {
  background-color: #666;
}

.upload-section {
  padding: 2rem 3rem 0 3rem;
  /* background-color: rgba(251,113,133, 0.1); */
}

.file-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

select#frameRate {
  background-color: rgba(251, 113, 133, 0.8);
  /* background-color: #999; */
  color: #fff;
  width: 90px;
  text-align: center;
  height: 25px;
  border-radius: 4px;
  border: None;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: background 0.2s ease;
}

select#frameRate:hover {
  background-color: rgba(251, 113, 133, 0.5);
  /* background-color: #666; */
}
select#frameRate:focus {
  outline: none;
}

.file-upload-info {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.processing-info {
  display: flex;
  gap: 0.5rem;
}

#songProcessingDisplay {
  color: #999;
  font-style: italic;
  margin-top: -12px;
}

.processing-text {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.3s ease;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: rgba(251, 113, 133, 0.8);
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 var(--animation-duration, 60s) 1 forwards;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
