.welcome-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
}

.welcome-banner-text {
  max-width: 40%;
}

.welcome-banner-image {
  display: none;
}

@media (min-width: 768px) {
  .welcome-banner-image {
    display: block;
  }
}
