body {
  background-color: white;
  color: black;
  font-family: system-ui, sans-serif;
}

/* Buttons */
.button {
  padding: 0.5rem 1rem;
  background-color: rgba(251, 113, 133, 0.8);
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0s ease;
  transition: opacity 0.4s ease-in-out;
}

button[disabled],
select[disabled],
.custom-file-label.disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: rgba(251, 113, 133, 0.5);
}

.upload-container {
  /* background-color: rgba(251, 113, 133, 0.1); */
  background-color: #f8f9fa;
}

.result-section,
.upload-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.result-section {
  transition: max-height 1s ease, opacity 0.3s ease;
}

.processing-text.show,
.upload-container.show {
  max-height: 4000px;
  opacity: 1;
}

.result-section.show {
  max-height: 4000px;
  opacity: 1;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}
