.navbar-brand img {
  height: 60px;
}

.navbar-nav {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.navbar {
  padding: 0 2rem 0 2rem;
}
.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.navbar-expand-lg .offcanvas {
  flex-grow: 0;
}

.nav-link-info:hover {
  cursor: default;
}

.nav-link-info {
  text-decoration: underline;
}
